
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFF9EC;
    margin: 0px;
    padding: 0px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #FCB1A6;
    font-size:xx-large;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #FCB1A6;
    align-items: center;
    box-shadow: 2px;


}
nav img {
    width: 100px;
    mix-blend-mode: multiply;
}
nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: larger;
}
.holaa {
    display: flex;
    justify-content: center;
}


.card {
    background-color: #FFDCCC;
    font-optical-sizing: auto;
    font-weight:100;
    margin: 20px;
    width: 300px;
    border-radius: 70px;
    overflow: hidden;
    box-shadow: 0px, 5px, 10px;
    
}
.card img {
    height: 200px;
    width: 300px;
}

.card p {
    display: flex;

  justify-content: center;
}
.card h3 {
    display: flex;

    justify-content: center;

}
.card button {
    display: block;
    margin: 20px;
    position: relative;
    right: -100px;
    border-radius: 20px;
    color: #FFF9EC;
    color: black;
    background-color:#FFF9EC;
}
.todo :hover {
    transform: scale(1.10);

}
.todo {
    justify-content: center;
    display: flex;
}
.articulo h1 {
    display: flex;
    justify-content: center;
}
.articulo {

    justify-content: center;
}

.total img {
    display: flex;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    padding-left: 300px;
    position: relative;
    top: 10px;
    
}
.total p{
    text-align: justify;
    position: relative;
    width: 400px;
    padding-left: 750px;
    text-align: center;
    top: -270px;
    text-align: justify;
    

}
.total h2 {

    display: flex;
    justify-content: center; 
    position: relative;
    top: -280px;

}
footer {
    background-color: #dadada;
}
footer p {
    display: flex;
    justify-content: center;
}

